/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/


body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif
}

a {
  text-decoration: none;
  color: inherit;
}

/* Text */
.title-font {
  font-family: 'Lora', serif;
}

.text-font {
  font-family: 'Roboto', sans-serif;
}

/* Navbar */

.container-fluid {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.color-navbar {
    background-color: #9681EB; /* Replace with your desired color */
    padding: 10px; /* Add padding as needed */
    /* Add any other styles you need for your navbar */
    /* Make it translucid */
    opacity: 0.8;
}

/* Hero container and hero image */
.hero-container {
    position: relative;
    text-align: center;
    color: white;
}

.hero-image {
    background-image: url("../images/hero-image.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
}


.overlay-card {
    position: absolute;
    bottom: 20%;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    background-color: rgb(167, 237, 231, 0.5);
    padding: 20px; /* Adjust padding as needed */
    width: 80%; /* Adjust width as needed */
    border-radius: 10px; /* Add border-radius for rounded corners */
}

.card-text {
    color: black; /* Text color for better visibility, change as needed */

}

@media (min-width: 768px) {
    .overlay-card {
      width: 30%; /* Adjust width for larger screens */
    }
}

/* Buffer section */
.buffer-section {
    height: 4rem; /* Default height */
}

  /* Adjust height for smaller screens */
@media (max-width: 767px) {
    .buffer-section {
      height: 2rem; /* Adjust height for smaller screens */
    }
}

/* Feature section */
.bg-feature {
  background-color:rgb(69, 207, 221, 0.7);
    padding: 10px; /* Add padding as needed */
    /* Add any other styles you need for your navbar */
    /* Make it translucid */
}
.feature-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 20px;
}

.accordion-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.accordion-button::after {
  position: absolute;
  right: 1rem;
}

.feature {
  text-align: center;
  margin-right: 20px;
}

.material-icons {
  font-size: 48px !important;
}

/* Timetable section */

.bg-timetable {
  background-color: rgb(150, 129, 235, 0.5);
    padding: 10px; /* Add padding as needed */
    /* Add any other styles you need for your navbar */
    /* Make it translucid */
}

/* Footer */
.bg-footer {
  background-color: rgb(69, 207, 221);
}

/* Images */

.round-picture {
	margin-top: 40px;
}

@media (max-width: 768px) {
    body {
        height:100vh;
    }
}

/* Cards */

.card-hide {
  display: none;
}

/* Buttons */

.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
}

/* Canvas */

.canvas-nav {
  width: 310px;
  height: 50px;
  position: fixed;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  opacity: .3;
  -webkit-transition: opacity .5s;
  -o-transition: opacity .5s;
  transition: opacity .5s;
}

.canvas-nav:hover {
  opacity: 1;
}

.clr {
  height: 30px;
  width: 30px;
  background-color: blue;
  border-radius: 50%;
  border: 3px solid rgb(214, 214, 214);
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  -o-transition: transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}
.clr:hover{
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}
.clr:nth-child(1){
  background-color: #000;
}
.clr:nth-child(2){
  background-color: #EF626C;
}
.clr:nth-child(3){
  background-color: #fdec03;
}
.clr:nth-child(4){
  background-color: #24d102;
}
.clr:nth-child(5){
  background-color: #fff;
}

.button {
  border: none;
  outline: none;
  padding: .6em 1em;
  border-radius: 3px;
  background-color: #03bb56;
  color: #fff;
}

.canvas-button .save {
  background-color: #03bb56;
}