/* Navbar */
.color-navbar {
    background-color: #9681EB; /* Replace with your desired color */
    padding: 10px; /* Add padding as needed */
    /* Add any other styles you need for your navbar */
    /* Make it translucid */
    opacity: 0.8;
}

/* Hero container and hero image */
.hero-container {
    position: relative;
    text-align: center;
    color: white;
}

.hero-image {
    background-image: url("../images/hero-image.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
}


.overlay-card {
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(167, 237, 231, 0.5);
    padding: 20px; /* Adjust padding as needed */
    width: 80%; /* Adjust width as needed */
    border-radius: 10px; /* Add border-radius for rounded corners */
}

.card-text {
    color: black; /* Text color for better visibility, change as needed */

}

@media (min-width: 768px) {
    .overlay-card {
      width: 30%; /* Adjust width for larger screens */
    }
}

/* Buffer section */
.buffer-section {
    height: 4rem; /* Default height */
}

  /* Adjust height for smaller screens */
@media (max-width: 767px) {
    .buffer-section {
      height: 2rem; /* Adjust height for smaller screens */
    }
}

/* Feature section */
.bg-feature {
  background-color:rgb(69, 207, 221, 0.7);
    padding: 10px; /* Add padding as needed */
    /* Add any other styles you need for your navbar */
    /* Make it translucid */
}
.feature-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

.feature {
  text-align: center;
  margin-right: 20px;
}

.material-icons {
  font-size: 48px !important;
}

/* Timetable section */

.bg-timetable {
  background-color: rgb(150, 129, 235, 0.5);
    padding: 10px; /* Add padding as needed */
    /* Add any other styles you need for your navbar */
    /* Make it translucid */
}

/* Footer */
.bg-footer {
  background-color: rgb(69, 207, 221);
}